.slider {
    display: flex;
    flex: 4;
    background-color: teal;
}

.slider canvas {
    aspect-ratio: unset;
}

.arrow {
  border-radius: 50%;
  z-index: 1;
  position: relative;
}

.arrow .glyphicon {
  line-height: inherit;
}

@keyframes grow {
  100% {
    transform: scale(1.5);
  }
}
.arrow:hover {
  animation: 2s grow;
}

.arrow-up {
  top: 1rem;
}

.arrow-down {
  top: 4rem;
}

.overlay-slider {
  display: flex;
  position: absolute;
  z-index: 1;
}

.text-area {
  width: 70%;
  text-align: left;
  padding-left: 3rem;
  padding-top: 1rem;
  color: white;
}

.text-area h1 {
  font-weight: bold;
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 5rem;
  top: 1rem; 
  position: absolute;
}