.content {
  display: flex;
  flex: 4;
  background-color: lightblue;
  height: 100vh;
}

.logo {
  position: absolute;
  bottom: 1rem;
}

.lightbox-logo {
  left: 35vw;
}

.lightbox-logo h1 {
  color: white;
  font-size: 80px;
  letter-spacing: 5rem;
  font-weight: normal;
}

.main-logo {
  left: 3vw;
}

.main-logo h1 {
  color: black;
  letter-spacing: 1.5rem;
  font-weight: 100;
  font-size: 36px;
}
