.lightbox {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

@keyframes fadeOut{
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -10;
  }
}

.animated {
  animation: 3s fadeOut forwards;
}

.enter {
  position: absolute;
  font-size: 40px;
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 38, 38, 0.096);
}

.transitionLightbox {
  animation: 3s fadeOut forwards;
  animation-delay: 2s;
}
.centre {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .desktopLightbox {
    display: none;
  }
}