@import "./styles/variables.scss";

.nav-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 24px;
  cursor: pointer;
}

@keyframes navTitle {
  100% {
    transform: scale(1.3) translateX(15%);
  }
}

.nav-title:hover {
  animation: 2s navTitle;
}

.nav-title:hover .strike::after{
  content: ' ';
  position: absolute;
  top: 53%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}

@keyframes strike {
  0%   { width : 0; }
  100% { width: 100%; }
}

.strike {
  position: relative;
}

.pillar {
    flex: 1;
    margin-left: 2.5rem;
    margin-right: 1rem;
    text-align: left;
    min-width: 200px;
}

@media only screen and (min-width: 640px) {
  .pillar {
    display: block !important;
  }
}

.logo-grace {
    letter-spacing: 1rem;
    font-weight: 100;
    font-size: 36px;
    position: relative;
    top: 75%;
}

.hamburger {
  margin-right: $mobile-margin-right;
}