.nav-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 24px;
  cursor: pointer;
}

.nav-title:hover .strike::after{
  content: ' ';
  position: absolute;
  top: 53%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}

@keyframes strike {
  0%   { width : 0; }
  100% { width: 100%; }
}

.strike {
  position: relative;
}

.pillar {
    /* display: flex; */
    flex: 1;
    margin-left: 2.5rem;
    margin-right: 1rem;
    text-align: left;
}

.logo-grace {
    /* bottom: 1.5rem; */
    /* position: absolute; */
    letter-spacing: 1rem;
    font-weight: 100;
    font-size: 36px;
    /* z-index: -2; */
    position: relative;
    top: 75%;
}
/* .logo {
    display: flex;
    justify-content: left;
}
  
.logo__text {
    bottom: 1rem;
    position: absolute;
    font-size: 80px;
    letter-spacing: 5rem;
    font-weight: normal;
} */