.App {
  text-align: center;
  font-family: "ComorantGaramond";
}

.Lightbox {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.lightbox {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

@keyframes fadeOut{
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -10;
  }
}

.animated {
  animation: 3s fadeOut forwards;
}


@keyframes fadeIn{
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}


.mainContent div {
  animation: 3s fadeIn;
}

#enter {
  position: absolute;
  font-size: 40px;
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

@keyframes slideleft {
  to {
    left: 3vw;
  }
}

@keyframes turnblack {
  from {
    font-size: 80px;
  }

  to {
    color: black;
    letter-spacing: 1rem;
    font-weight: 100;
    font-size: 36px;
  }
}

#logo {
  position: absolute;
  bottom: 1rem;
  left: 35vw;
}

.logo-transformed {
  animation: 3s slideleft forwards; 
}

.logo-transformed .logo__text {
  animation: 3s turnblack forwards;
}

.logo__text {
  color: white;
  font-size: 80px;
  letter-spacing: 5rem;
  font-weight: normal;
}